<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GoChat | Index</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <!-- {{template "header" .}} -->
    <main>
      <h1>GoChat</h1>
      <br />

      <form id="hostForm" onsubmit="return saveHostKey(event)">
        <fieldset>
          <legend>Input</legend>
          <div class="input-container">
            <label for="host-key">Host Key</label>
            <input type="text" id="hostKey" name="hostKey" required />
          </div>
          <br>
          <button type="submit">Continue</button>
        </fieldset>
      </form>
    </main>
    <!-- {{template "footer" .}} -->

    <script>
      function saveHostKey(event) {
        event.preventDefault();
        const hostKey = document.getElementById('hostKey').value;
        if (hostKey) {
          localStorage.setItem('hostUUID', hostKey);
          window.location.href = '/dashboard.html';
        }
        return false;
      }
    </script>
  </body>
</html>
