.channel-content,
.chatapp-container,
.chat-box-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.chatapp-channel-title {
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;

}

.chat-box-messages {
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
  background-color: var(--main-dark);
  word-wrap: break-word;
}


.chat-box-messages br {
  margin-left: 2.5px;
  margin-right: 2.5px;
}

.chat-box-message-content {
  display: flex;
  flex-direction: column;
  padding: var(--main-distance);
}

.chat-box-message-text {
  color: var(--main-white);
  word-break: break-word;
  /* ✅ key for long words */
  white-space: pre-wrap;
  /* ✅ keep newlines, allow wrapping */

}

.chat-box-form {
  display: flex;
  flex-direction: column;
}

.chat-box-form-input {
  padding: 5px 10px;
  background-color: var(--dark-blue);
  resize: none;
  overflow: hidden;
  line-height: 1.4;
  max-height: 300px;
  font: inherit;
  color: var(--bright-white);
  outline: none;
  border: none;
  border-top: 1px solid var(--main-gray);
}

.chat-box-btn {
  padding: 5px 10px;
}

.chat-box-btn:hover {
  background: var(--light-green);
}

.chat-box-btn-active {
  padding: 5px 10px;
  background-color: var(--light-yellow);
}

.chat-box-btn-active:hover {
  background: var(--light-red);
}

input[type="range"] {
  /* -webkit-appearance: none; */
  width: 100%;
  display: block;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


@keyframes highlightFade {
  from {
    background-color: var(--light-yellow);
  }

  to {
    background-color: inherit;
    /* or your normal bg color */
  }
}