.chat-box-container {
  z-index: 4;
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.chat-box-messages {
	flex: 1;
	display: flex;
	flex-direction: column;
  justify-content: flex-end;
  padding: var(--main-distance);
  background-color: var(--main-dark);
  overflow-y: scroll;
  word-wrap: break-word;
}

.chat-box-messages * {
  user-select: text;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.chat-box-messages br {
  margin-left: 2.5px;
  margin-right: 2.5px;
}

.chat-box-message-content {
  display: flex; 
  flex-direction: row; 
  align-items: center;
}

.chat-box-form {
  display: flex;
  align-items: center;
}

.chat-box-form input {
  flex: 1;
  padding: 5px 10px;
  background-color: var(--dark-blue);
}

.chat-box-btn {
  padding: 5px 10px;
}