<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GoChat | {{.Title}}</title>
    <link rel="stylesheet" href="static/style.css" />
    <script type="module" src="/js/components/invites.js" defer></script>
  </head>
  <body>
    {{template "header" .}}
    <main>
      <h1>Account</h1>
      <br />
      <div>
        <b>Current Username:</b> <p>{{.Username}}</p>
      </div>
      <br />
      <form id="update-username-form">
        <fieldset>
          <legend>Update Username</legend>
          <div class="input-container">
            <label for="username">New Username</label>
            <input name="username" type="text" required />
          </div>
          <br />
          <button type="submit">Update Username</button>
        </fieldset>
      </form>
      <br />
      <button id="logout-btn" class="btn-red">Logout</button>
      <br>
      <hr>
      <div id="invites"></div>
    </main>
    {{template "footer" .}}
  </body>
  <script>
    document.getElementById("logout-btn").addEventListener("click", (e) => {
      fetch("/api/logout", {
        method: "POST",
        credentials: "include",
      }).then((res) => {
        if (res.ok) {
          localStorage.removeItem("auth_token");
          window.location.href = "/login";
        }
      });
    });

    document.getElementById("update-username-form").addEventListener("submit", async (e) => {
      e.preventDefault();
      
      const form = e.target;
      const formData = new FormData(form);
      const jsonData = Object.fromEntries(formData.entries());

      try {
        const response = await fetch("/api/update_username", {
          method: "PUT",
          credentials: "include",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(jsonData),
        });

        const result = await response.json();
        
        if (response.ok) {
          window.alert("Username updated successfully!");
          window.location.reload();
        } else {
          window.alert(`Error: ${result.error}`);
        }
      } catch (error) {
        console.error("Error updating username:", error);
        window.alert("An error occurred while updating your username");
      }
    });
    
  </script>
</html>
