<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GoChat | {{.Title}}</title>
    <link rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    {{template "header" .}}
    <main>
      <div id="toast-message" class="toast-warning"></div>
      <form id="login-form">
        <fieldset>
          <legend>Login</legend>
          <div class="input-container">
            <label for="email">Email</label>
            <input name="email" type="email" required autofocus />
          </div>
          <br />
          <div class="input-container">
            <label for="password">Password</label>
            <input name="password" type="password" required />
          </div>
          <br />
          <button type="submit">Submit</button>
        </fieldset>
      </form>
    </main>
    {{template "footer" .}}
  </body>
  <script>
    document
      .getElementById("login-form")
      .addEventListener("submit", async (e) => {
        e.preventDefault();

        const form = e.target;
        const formData = new FormData(form);
        const jsonData = Object.fromEntries(formData.entries())

        try {
          const response = await fetch("/api/login", {
            method: "POST",
            headers: {
              "Content-Type": "application/json"
            },
            body: JSON.stringify(jsonData),
          });
          
          const result = await response.json();
          // console.log(result);
          if (response.status == 400) {
            document.getElementById("toast-message").textContent = `ERROR: ${result.error}`;
          }

          // save token and reroute
          localStorage.setItem("authToken", `Bearer ${result.token}`); // For access in WS connection

          window.alert("Welcome Back!")
          window.location.href = "/dashboard";
          return;

        } catch (error) {
          console.log(error);
        }
      });
  </script>
</html>
